<div class="container jumbotron">
  <h1 class="personal-title">{{title}}</h1>
  <nav>
    <button class="btn btn-sm btn-secondary" routerLink="/hero-board">枭雄板</button>
    <button class="btn btn-sm btn-secondary" routerLink="/heroes">英雄板</button>
    <button class="btn btn-sm btn-secondary">技能板</button>
    <button class="btn btn-sm btn-secondary">物品板</button>
  </nav>

  <router-outlet></router-outlet>
</div>


<!--1、添加路由模块-->
<!--2、导入路由模块-->
<!--3、添加 <router-outlet></router-outlet> 位置-->
<!--4、在html中添加路由跳转路径-->
