/* You can add global styles to this file, and also import other style files */
.margin-up-down-5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-up-down-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-up-down-15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-up-down-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-up-down-25{
  margin-top: 25px;
  margin-bottom: 25px;
}
